<h3 class="dear-lucy-headline">
  <% if column.primary_category %>

    <span>
      <%= form_tag columns_path, method: :get, remote: true, class: "category-filter-form" do %>
          <%# send the category_name somehow %>
          <%= hidden_field_tag :primary_category_id, column.primary_category.id %>
          <%= submit_tag column.primary_category.try(:category_name), :class => "#{column.primary_category.try :color} primary-tag" %>
      <% end %>
    </span>

  <% end %>
  <%= column.headline %>
</h3>



<%= column.parsed_question.html_safe %>

<p class="column-question-footer">
  <a class="lucy-answer-button" data-text-swap="Hide answer" href="#">
    <i class="o-ft-icons-icon o-ft-icons-icon--arrow-right demo-icon">
    </i> Lucy's answer</a>
  <span class="publication-timestamp">
  <%= column.publication_timestamp.strftime("%b %-d, %Y") %>
  </span>
</p>

<div class="lucys-answer">
  <%= column.parsed_answer.html_safe %>
  <ol>
    <% column.categorizers.each do |categorizer| %>
      <li><%= categorizer.category.try(:category_name) %></li>
    <% end %>
  </ol>

  <%= link_to 'View on FT.com', column.story_url %><br><br>
</div>

<% if can? :update, @column %>
<br><br>
  <%= link_to 'Edit column categories', edit_column_path(column) %>
<% end %>
