<h3 class="dear-lucy-headline"><span class="<%= column.primary_category.try :color %> primary-tag"><%= column.primary_category.try :category_name %></span><%= column.headline %></h3>

<%= column.parsed_question.html_safe %>

<p class="column-question-footer">
  <a class="lucy-answer-button">Show Lucy's answer</a>
  <span class="publication-timestamp">
  <%= column.publication_timestamp.strftime("%b %-d, %Y") %>
  </span>
</p>

<div class="lucys-answer">
  <%= column.parsed_answer.html_safe %><br><br>
  <ol>
    <% column.categorizers.each do |categorizer| %>
      <li><%= categorizer.category.try(:category_name) %></li>
    <% end %>
  </ol>
  <%= link_to 'View on FT.com', column.story_url %>
</div>

<% if can? :update, @column %>
<br><br>
  <%= link_to 'Edit column categories', edit_column_path(column) %>
<% end %>
