<h3><%= column.headline %></h3>
<%= column.parsed_question.html_safe %>
<p>Originally published on <%= column.publication_timestamp.strftime("%b %-d, %Y") %></p>
<strong>END QUESTION</strong>
<%= column.parsed_answer.html_safe %>
<strong>END ANSWER</strong>

<%= link_to 'View on FT.com', column.story_url %>

<% if can? :update, @column %>
<br><br>
  <%= link_to 'Edit column categories', column %>
<% end %>

<p>--END COLUMN--</p>
<br><br>