<!DOCTYPE html>
<html>
<head>
  <title>Lucypedia</title>
  <%#= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="stylesheet" href="//build.origami.ft.com/bundles/css?modules=o-ft-header@^2.5.15,o-ft-footer@^2.0.4,o-ft-icons@^2.3.4">
</head>

<body>
  <%= render partial: "layouts/nav"  %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <div class="main-container-wrapper">
    <%= yield %>
  </div>

  <%= render partial: "layouts/footer" %>
  <script src="//build.origami.ft.com/bundles/js?modules=o-ft-header@^2.5.15,o-ft-footer@^2.0.4,o-ft-icons@^2.3.4"></script>
</body>
</html>
